@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  padding: 2em 6em;
  font-family: "Poppins", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav .nav-logo a {
  color: #121212;
  font-size: 2em;
  text-decoration: none;
}

.nav ul {
  display: flex;
  gap: 1em;
}

.nav ul a {
  color: #121212;
  padding: 12px 48px;
  border: 2px solid #55026a;
  text-decoration: none;
  border-radius: 32px;
}

.hero {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.hero .hero-text {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.hero .hero-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero .hero-title p {
  line-height: 24px;
}

.hero .hero-title h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 16px;
}

.hero .hero-button {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero .hero-button a {
  color: #121212;
  padding: 12px 24px;
  border: 2px solid #55026a;
  text-decoration: none;
  border-radius: 32px;
}
